@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    --Red:hsl(1,90%,64%);
    --Blue:hsl(219,85%,26%);
    /*Neutral*/
    --White:hsl(0,0%,100%);
    --Verylightgrayishblue:hsl(210,60%,98%);
    --Lightgrayishblue1:hsl(211,68%,94%);
    --Lightgrayishblue2:hsl(205,33%,90%);
    --Grayishblue:hsl(219,14%,63%);
    --Darkgrayishblue:hsl(219,12%,42%);
    --Verydarkblue:hsl(224,21%,14%);

    /* Values */
    --AvatarSize: 46px;

    font-size: 16px;
}

*{
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
p{
    margin: 0px;
}

.red-circle{
    background-color: var(--Red);
    height: 8px;
    min-width: 8px;
    border-radius: 100%;
}

.blue-text{
    color: var(--Blue);
}

.new{
    background-color: var(--Verylightgrayishblue);
}

body{
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-color: var(--Verylightgrayishblue);
    display: flex;
    justify-content: center;
    padding-top: 62px;
}

main{
    background-color: var(--White);
    width: 100%;
    max-width: 728px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px 30px;
    border-radius: 16px;
    box-shadow: 0 0 100px 8px var(--Lightgrayishblue1);
    height: 840px;
    overflow: hidden;
}

.notifications-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1px;

}


.notifications-header >button{
    background-color: transparent;
    border: none;
    font-size: 0.95rem;
    font-weight: 800;
    color: var(--Grayishblue);
}

.number{
    font-size: 0.65em;
    font-weight: 500;
    background-color: var(--Blue);
    color: var(--White);
    border-radius: 6px;
    padding: 3px 11px;
    margin-left: 8px;
}


.notification-card{
    display: flex;
    align-items: center;
    padding: 18px 20px;
    gap: 17px;
    border-radius: 8px;
}

.avatar-container{
    overflow: hidden;
    height: var(--AvatarSize);
    width: var(--AvatarSize);
    min-width: var(--AvatarSize);
    min-height: var(--AvatarSize);
    border-radius: 100%;
}
.avatar-container>img{
    height: 100%;
}

.notification-message{
    color: var(--Darkgrayishblue);
}

.user-name{
    color: black;
    font-weight: 800;
}

.date{
    color: var(--Grayishblue);
}